
	<link rel='stylesheet' href= '/css/base.css'/>
	<h3> ALL THE REVIEWS </h3>

	<br>
	<form method = "GET" action="">
		Semester: <select name="semester">
		    <option value="all">All</option>
		    <option value="Spring">Spring</option>
		    <option value="Fall">Fall</option>
		    <option value="Summer">Summer</option>
  		</select>
		Year: <input type = "text" name = "year">
		Professor: <input type = "text" name = "professor">
		<input type = "submit" value = "Filter"> 
	</form>
	<br>

	<table>
		<tr>
			<th>Course Number</th>
			<th>Course Name</th>
			<th>Semester</th>
			<th>Year</th>
			<th>Professor</th>
			<th>Review</th>
		</tr>
		{{#each reviews}}
			<tr>
				<td>{{courseNumber}}</td>
				<td>{{courseName}}</td>
				<td>{{semester}}</td>
				<td>{{year}}</td>
				<td>{{professor}}</td>
				<td>{{review}}</td>
			</tr>
		{{/each}}
	</table>
	

	
